*{
    font-family: sans-serif;
}
body{
    margin: 0px;
    padding: 30px;
    font-size: 18px;
}

form{
    display: grid;
    grid-template-columns: 16% 34% 10% 40%;
    grid-template-rows: 150px auto;
}
h1{
    grid-column: 1/5;
    font-size: 30px;
}

.eten{
    display: flex;
    grid-column: 4/5;
}

.textinputs{
    width: 300px;
    border: solid 1px cornflowerblue;
    padding-bottom: 50px;
}